<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="text/css" href="css/style.css">
  <title><%= title %></title> <!-- 라우터에서 title을 받아와 출력 -->
</head>
<body>
  <h1>Loop it!</h1>
  <ui>
  <!-- 루프문 -->
    <% for(var i = 0 ; i < length; i++) {  %>
      <li>
        <%= "LOOP" + i %>
      </li>
    <% } %>
    <!-- 루프문 종료 -->
  </ui>
</body>
</html>